* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  width: 800px;
  max-width: 90%;
  margin: 20px auto;
  input {
    display: block;
    width: 100%;
    padding: 0.5rem 0rem;
    text-indent: 20px;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  button {
    display: block;
    width: 100%;
    padding: 1rem 0rem;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: all ease-in-out 300ms;
    &:hover {
      background-color: white;
      color: black;
    }
  }
}

.message {
  text-align: center;
  font-size: 2rem;
}
